<div id="header">
    <h1>Доска задач</h1>
</div>

<div id="board" *ngIf='taskService.tasks.length; else emptyTask'>
    <ul>
        <li *ngFor='let task of taskService.tasks; let idx = index'>
            {{ idx + 1 }} 
            {{ task.text }} 
            {{ task.date | date: 'short'}}
            <button (click)='taskService.removeTask(task.id)'> Удалить задачу </button>
        </li>
    </ul>
</div>

<ng-template #emptyTask>
    <h2 style="text-align: center;">Задачи отсутствуют</h2>
</ng-template>
